/node_modules/
/src/lesson-1/tasks/task-1/after/
/src/lesson-1/tasks/task-2/after/
/src/lesson-2/tasks/task-1/after/
/src/lesson-2/tasks/task-2/after/
/src/lesson-2/tasks/task-3/after/
/src/lesson-3/tasks/task-1/after/
/src/lesson-3/tasks/task-2/after/
/src/lesson-3/tasks/task-3/after/
/src/lesson-3/tasks/task-4/after/
yarn.lock
.idea/
package-lock.json
